{
  "openapi": "3.1.0",
  "info": {
    "title": "CallHeater API",
    "description": "Customer-facing API for looking up phone number caller context.",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://api.callheater.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/lookup": {
      "get": {
        "tags": ["Lookup"],
        "summary": "Lookup a phone number",
        "description": "Returns caller context for a US phone number. The default response is JSON; use `display=pretty` for a human-readable text response.",
        "operationId": "lookupPhoneNumber",
        "parameters": [
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "description": "US phone number to look up. Formatting characters are accepted.",
            "schema": {
              "type": "string",
              "examples": ["4155550123", "+14155550123"]
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "Lookup depth. Basic aliases include `basic` and `B`; Deep Research aliases include `deepresearch`, `D`, and `DR`.",
            "schema": {
              "type": "string",
              "default": "Basic",
              "enum": ["Basic", "DeepResearch"]
            }
          },
          {
            "name": "display",
            "in": "query",
            "required": false,
            "description": "Response format.",
            "schema": {
              "type": "string",
              "default": "json",
              "enum": ["json", "pretty"]
            }
          },
          {
            "name": "realestate",
            "in": "query",
            "required": false,
            "description": "Include real estate market info in pretty responses.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sports",
            "in": "query",
            "required": false,
            "description": "Include local sports team information for the phone number area code when available.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "description": "Your provided CallHeater API key.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup result. JSON is returned by default; plain text is returned when `display=pretty`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupResponse"
                },
                "examples": {
                  "basic": {
                    "summary": "Basic JSON response",
                    "value": {
                      "meta": {
                        "timestamp": "2026-05-03T00:00:00Z",
                        "elapsedMs": 842,
                        "mode": "Basic",
                        "credits": {
                          "charged": 1,
                          "remaining": 99,
                          "bypassed": false
                        }
                      },
                      "query": {
                        "phone": "+14155550123"
                      },
                      "phone": {
                        "e164": "+14155550123",
                        "national": "(415) 555-0123",
                        "country": "US",
                        "areaCode": "415"
                      },
                      "identity": {
                        "name": "Example Caller",
                        "gender": null,
                        "match": null
                      },
                      "line": {
                        "type": "mobile",
                        "carrier": "Example Wireless"
                      },
                      "availability": {
                        "imessage": null,
                        "whatsapp": null
                      },
                      "disclaimer": "For informational purposes only. Data may be incomplete, delayed, or inaccurate. Do not use it as the sole basis for personal, legal, financial, or safety decisions."
                    }
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "CallHeater Lookup\nPhone: +14155550123\nName: Example Caller\nCarrier: Example Wireless"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Send your provided API key in the `X-API-Key` header."
      }
    },
    "schemas": {
      "LookupResponse": {
        "type": "object",
        "description": "Structured lookup response. Available fields vary by lookup mode and source availability.",
        "additionalProperties": true,
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/LookupMeta"
          },
          "query": {
            "type": "object",
            "additionalProperties": true,
            "description": "The normalized request inputs."
          },
          "phone": {
            "$ref": "#/components/schemas/PhoneDetails"
          },
          "identity": {
            "type": "object",
            "additionalProperties": true,
            "description": "Caller identity signals when available."
          },
          "line": {
            "type": "object",
            "additionalProperties": true,
            "description": "Carrier and line type signals when available."
          },
          "availability": {
            "type": "object",
            "additionalProperties": true,
            "description": "Messaging or service availability signals when available."
          },
          "disclaimer": {
            "type": "string"
          }
        }
      },
      "LookupMeta": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "elapsedMs": {
            "type": "integer"
          },
          "mode": {
            "type": "string"
          },
          "credits": {
            "$ref": "#/components/schemas/Credits"
          }
        }
      },
      "PhoneDetails": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "e164": {
            "type": "string",
            "example": "+14155550123"
          },
          "national": {
            "type": "string",
            "example": "(415) 555-0123"
          },
          "country": {
            "type": "string",
            "example": "US"
          },
          "areaCode": {
            "type": "string",
            "example": "415"
          }
        }
      },
      "Credits": {
        "type": "object",
        "properties": {
          "charged": {
            "type": "number"
          },
          "remaining": {
            "type": "number"
          },
          "bypassed": {
            "type": "boolean"
          }
        }
      },
      "Error": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "detail": {
            "description": "Error details.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            ]
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request was invalid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "The request is missing a valid API key or is not allowed.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InsufficientCredits": {
        "description": "The account does not have enough credits for this lookup.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "detail": {
                "message": "Not enough credits for this lookup",
                "remainingCredits": 0,
                "requiredCredits": 1
              }
            }
          }
        }
      },
      "RateLimited": {
        "description": "Too many requests. Retry after the number of seconds in the `Retry-After` header.",
        "headers": {
          "Retry-After": {
            "description": "Seconds to wait before retrying.",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServerError": {
        "description": "Unexpected server error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}
